/* Fuente importada de fonts.google*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;1,100;1,400;1,500;1,600;1,700;1,800&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}
/*Se generar el maquetado por medio de GRID*/
#gridPagina {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "header header header "
    "carrusel carrusel carrusel "
    "registroPy contenedor contenedor"
    "multimedia multimedia multimedia"
    "footer footer footer";
  grid-template-rows: auto;
}
/*Se generan las areas para poder ejecutar el maquetado de forma ordenada*/
header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.logo {
  display: flex;
  width: 10%;
}
nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
main#carrusel {
  grid-area: carrusel;
  text-decoration: none;
}
.registroPy {
  grid-area: registroPy;
}

article#multimedia {
  grid-area: multimedia;
  display: flex;
  margin-top: 4em;
}

body {
  padding-bottom: 3em;
  background-image: linear-gradient(to left, #f1b125ec, #f1e3c3ec, #dfd4baec);
}

main {
  background-image: linear-gradient(to top, #140f02ec, #f1b125ec, #dfd4baec);
}
/*Header y navegacion*/
.title__header {
  text-align: center;
}
.logo {
  width: 6.25em;
  height: 6.25em;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.navegacion {
  display: flex;
  background-color: rgba(241, 177, 37, 0.925);
  justify-content: center;
  justify-items: end;
}
.navegacion__estilo {
  font-size: 1.25em;
  text-decoration: none;
  padding: 1.25rem;
  color: black;
}
.navegacion__estilo:hover {
  background-color: rgba(240, 238, 236, 0.849);
  transition: background-color 0.5s;
}
/*Carrusel y la botonera con imagenes*/
.slidershow {
  width: 100%;
}
.Numslidershow {
  height: 70%;
  width: 80%;
  right: 15px;
  overflow: hidden;
  top: 32%;
  position: absolute;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black;
  cursor: pointer;
}
.slidershow__item {
  position: relative;
  width: 100%;
  height: 100%;
}
.slidershow__itemLetra {
  width: 100%;
  height: 100%;
}
.slidershow__arrows {
  position: absolute;
  top: -5%;
  bottom: 50%;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 60px;
}
.slidershow__arrows > i:hover {
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
}
.Numslidershow__control {
  width: 63%;
  display: flex;
  justify-content: right;
}
.Numslidershow__control > a {
  text-decoration: none;
  font-size: 2em;

  color: grey;
}
.slidershow__arrows > a > i {
  color: white;
}

.button__galeria {
  display: flex;
  justify-content: center;
  width: 17%;
  height: 80px;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black;

  color: rgb(19, 20, 20);
  font-size: 1.2rem;
  background-color: rgba(241, 177, 37, 0.925);
  border: 4px solid rgb(252, 253, 253);
}

form {
  background-image: linear-gradient(to top, #f1b125ec, #f1e3c3ec, #dfd4baec);
  width: 100%;
  padding: 3.75em;
  margin: 3px;
  border: 1px solid black;
}
.contenedor1 {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 2.4em;
  border: 4px solid rgb(238, 242, 245);
  border-radius: 20px;

  color: rgba(14, 15, 15, 0.87);
  font-size: 1.3rem;
}
.contenedor__accion {
  background-color: rgba(220, 233, 217, 0.884);
  width: 100%;
  height: 3.2em;
  text-align: center;
  border: 4px solid rgb(238, 242, 245);
  border-radius: 20px;
}
.contenedor__accion1 {
  background-color: rgb(127, 134, 134);
  width: 100%;
  height: 2.5em;
  border: 4px solid rgb(238, 242, 245);
  border-radius: 20px;
  color: white;
  font-size: 1.2rem;
}

.contenedorlista__img {
  display: flex;
  position: absolute;
  width: 70%;
  top: 115%;
  left: 30%;
}

.imagen1 {
  float: left;
  background-color: rgb(127, 134, 134);
  border: 4px solid rgb(238, 242, 245);
  width: 30%;
  border-radius: 20px;
  box-shadow: 5px 8px 12px rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.imagen1:hover {
  transform: scale(1.1);
  box-shadow: 13px 15px 37px black;
}
.imagen1__titulo {
  position: absolute;
  bottom: -20%;
  left: 0%;
  transform: translate(+80%, -0%);
  font-size: 2rem;
}
.imagen2 {
  background-color: rgb(48, 105, 105);
  border: 4px solid rgb(238, 242, 245);
  width: 30%;

  border-radius: 20px;
  box-shadow: 5px 8px 12px black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.imagen2:hover {
  transform: scale(1.1);
  box-shadow: 13px 15px 37px black;
}
.imagen1__titulo1 {
  position: absolute;
  left: -10%;
  bottom: -20%;
  transform: translate(+370%, -0%);
  font-size: 2rem;
}
.imagen3 {
  float: left;
  background-color: rgb(36, 21, 88);
  border: 4px solid rgb(238, 242, 245);
  width: 30%;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.imagen3:hover {
  transform: scale(1.1);
  box-shadow: 13px 15px 37px black;
}
.imagen1__titulo2 {
  float: right;
  position: absolute;
  left: -35%;
  bottom: -20%;
  transform: translate(+730%, -0%);
  font-size: 2rem;
}
/*Ayuda abre una pagina diferente pero esta linkeada*/
.ayuda {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  font-size: 2rem;
  text-decoration: none;
  color: rgba(5, 3, 17, 0.747);
  background-color: rgba(241, 177, 37, 0.925);
  border: 4px solid rgb(238, 242, 245);
  border-radius: 20px;
  box-shadow: 5px 8px 12px black;
  transition: all 0.3s ease-in-out;
}
.ayuda:hover {
  transform: scale(1.1);
  box-shadow: 13px 15px 37px black;
}
.descripcion {
  width: 40%;
  margin: 3.125rem;
  padding: 0.625rem;
  height: 22.5rem;
  border: 2px solid black;
  font-size: 1.2rem;
  background-color: rgba(167, 157, 137, 0.493);
}

.img__descripcion {
  float: left;
  width: 70%;
}
.texto1 {
  text-align: center;

  font-weight: bold;
}
.texto2 {
  text-align: center;
}

.video {
  width: 40%;
  top: 161%;
  left: 55%;
  position: absolute;
  float: right;
  text-align: center;
  font-weight: bold;
}
.title {
  text-align: center;
  padding: 200px;
  background-image: url(../Imagenes/stock-photo-cropped-view-workman-electric-drill.jpg);
  font-size: 5rem;
  color: white;
}
.description {
  text-align: center;
  font-size: 5rem;
  padding: 6rem;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: rgba(95, 90, 80, 0.493);
}
#historia {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(202, 199, 192, 0.493);
  font-size: 1.2rem;
  padding: 1.3rem;
}
.muestra {
  display: flex;
  width: 100%;
  margin-top: 1.25rem;
}
#producto {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5.3125em;
  justify-content: center;
  border: 6px solid black;
}

.productoimagen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 6px solid black;
  width: 100%;
  padding: 5.3125em;
}

.mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  color: rgb(19, 18, 18);
}
.mapas__img{
  margin-top: 4em;
  border-top: 4px solid black;
}
/*el formulario se puede mejorar un poco*/
.formulario {
  display: grid;
  margin-top: 6rem;
  border: 4px solid black;
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  width: 100%;
}

.boton__enviar {
  font-weight: bold;
  font-size: 1.5rem;
}
.boton__elegir {
  font-weight: bold;
  font-size: 1.5rem;
}
.boton__provincia {
  font-weight: bold;
  font-size: 1.5rem;
}
.boton__centro {
  font-weight: bold;
  font-size: 1.5rem;
}

.comprar {
  margin-top: 8rem;
  border: 4px solid black;
}

footer {
  grid-area: footer;

  width: 100%;
  height: 15%;
  bottom: -964px;
  position: absolute;
  text-align: center;
  font-size: 1.2rem;
  padding: 1em;

  background-image: linear-gradient(to top, #f1b125ec, #f1e3c3ec, #dfd4baec);
}
/*el media query de todas las paginas. Hay que realizar algunas correcciones*/
@media screen and (max-width: 768px) {
  #gridPagina {
    display: grid;
    font-size: 12px;
    grid-template-areas: 
    "header header"
    "carrusel carrusel"
    "registroPy registroPy"
    "multimedia multimedia"
    "footer footer";
    width: 100%; 
  }
  .header{
    font-size: 12px;
  }
  .button__galeria{
    font-size: 12px;
  }
  .Numslidershow{
    width: 75%;
  }
  /*Se bloquea 3 items de la pagina principal cuando se reduce a 768px*/
  .contenedorlista__img {
    display: none;
  }
  .video {
    display: none;
  }
  .ayuda {
    display: none;
  }
  .descripcion {
    width: 100%;
    padding: 10px;
    margin: 20px;
  }
  .registroPy {
    margin-top: 1em;
    width: 95%;
    
  }
  #producto{
    margin-top:10em;
  }
  .mapa {
    
    margin-top:4em;
    font-size: 10px;
    margin-right: 7em;
    margin-bottom: 20em;
    
  }
  .mapas__img{
    height: 20%;
    border: 2px solid black;
  }

  #historia{
    font-size: 18px;
  }
  footer {
    font-size: 14px;
  }
}
